<form action="forgotpw" class="form" id="form" method="post">
    <label for="email">Email</label>
    <div class="otp-section">
        <%- `<input type="email" id="email" name="email_field" placeholder="Enter email">` %>
        <button id="reqOtp">Get OTP</button>
    </div>
    <label for="OTP">One Time Password</label>
    <input type="text" id="otp" name="otp_field" placeholder="Enter OTP" required>
    <input type="submit" id="submit" value="Submit">
</form>
<p id="error-msg"><%= errors  %></p>

<script>
    var otp = document.getElementById("otp");
    var getOtp = document.getElementById("reqOtp");
    var email = document.getElementById("email");
    var submit = document.getElementById("submit");
    var error = document.getElementById("error-msg");
    var form = document.getElementById("form");
    
    email.required = true;
    otp.disabled = true;
    submit.disabled = true;
    email.addEventListener("change", () => {
        if(email.value.length === 0) error.innerText = "Email is required!"
        else error.innerText = ""
    })

    var clock;

    function stopTimer(){
        clearInterval(clock);
    }

    function otpTimer(data){
        var secs = 166;
        
        clock = setInterval(() => {
            secs--;
            error.innerText = data+" The OTP expires in "+secs+" seconds.";
            if(secs <= 0){
                error.innerText = "The OTP has expired."
                stopTimer()
            } 
        }, 1000)
    }

    getOtp.addEventListener("click", (e) => {
        e.preventDefault()
        error.innerText = "Sending OTP to your email..."
        if(email.value.length === 0) error.innerText = "Email is required!"
        else{
            fetch("http://localhost:5001/getOtp", {
                method: "POST",
                body: JSON.stringify({"email_field": email.value}),
                headers : {
                    'Content-Type': 'application/json'
                }
            })
            .then(res => res.json())
            .then(data => {
                if(data.error) error.innerText = data.error;
                else {
                    error.innerText = data.message;
                    otp.disabled = false;
                    submit.disabled = false;
                    otpTimer(data.message);
                }                
            })
            .catch(err => error.innerText = err)
        }
    })
    
</script>