<p class="signup">Reset Password</p>
<form action="resetpw" class="reset-pw" method="post">
    <label for="password">Enter new password</label>
    <input type="password" id="password" name="password_field" placeholder="Enter password" required minlength="8" pattern="(^(?=.*[a-zA-Z])(?=.*[0-9])[A-Za-z0-9]+$)" title="Must be alphanumeric">
    <label for="confirm-password">Confirm new password</label>
    <input type="password" id="confirm-password" name="repassword_field" placeholder="Confirm password" required> 
    <p id="error-msg"><%= errors  %> </p>
    <input type="submit" id="submit" value="Submit">
</form>