<p class="signup">Reset Password</p>
<form action="/pw/resetpw" id="form" class="reset-pw" method="post">
  <label for="password">Enter new password</label>
  <input
    type="password"
    id="password"
    name="password_field"
    placeholder="Enter password"
    required
    minlength="8"
    pattern="(^(?=.*[a-zA-Z])(?=.*[0-9])[A-Za-z0-9]+$)"
    title="Must be alphanumeric"
  />
  <label for="confirm-password">Confirm new password</label>
  <input
    type="password"
    id="confirm-password"
    name="repassword_field"
    placeholder="Confirm password"
    required
  />
  <p id="error-msg"><%= errors %></p>
  <input type="submit" id="submit" value="Submit" />
</form>

<script>
  var pw = document.getElementById("password");
  var cpw = document.getElementById("confirm-password");
  var submit = document.getElementById("submit");
  var error = document.getElementById("error-msg");
  var form = document.getElementById("form");
  
  if(window.location.pathname !== "/pw/resetpw"){
    form.action = "/pw/resetpwotp/"+window.location.pathname.split("/")[3];
  }

  cpw &&
    cpw.addEventListener("change", () => {
      if (pw.value !== cpw.value) {
        submit.disabled = true;
        error.innerText = "Passwords do not match";
      } else {
        submit.disabled = false;
        error.innerText = "";
        error.setAttribute("display", "none");
      }
    });

  pw.addEventListener("change", () => {
    if (cpw && pw.value !== cpw.value) {
      submit.disabled = true;
      error.innerText = "Passwords do not match";
    } else {
      submit.disabled = false;
      error.innerText = "";
      error.setAttribute("display", "none");
    }
  });
</script>
