<!DOCTYPE html>
<html lang="en">
<%- include("../partials/head.ejs", {title: "Admin"})  %>
<body>
    <div class="container-admin">
            <div class="admin-card">
                <div class="admin-logo"><h1 class="logo" style="color: white;">Welcome, Admin</h1></div>
                <div class="admin-mail"><u><%= email %></u></div>
                <div class="admin-button-array">
                    <a href="admin/logout" class="logout"><button class="admin-logout">Log Out</button></a></form>
                    <% if(type !== "oauth")  { %> 
                        <a href="pw/resetpw" class="resetpw" ><button class="admin-resetpw">Change Password</button></a></form>
                    <% }  %>                     
                </div>
            <%- include("../partials/footer.ejs")  %>
        </div>
    </div>
</body>
<%- include("../partials/noload.ejs")  %>
<script>
    var mail = document.querySelector('u');
    if(mail.innerText.length === 0){
        fetch("http://localhost:5001/admin/user")
        .then(res => res.json())
        .then(data => {
            console.log(data)
            mail.innerText = data.email
        });
    }
</script>
</html>