<!DOCTYPE html>
<html lang="en">
<%- include("../partials/head.ejs")  %>
<body>
    <div class="container-index">
        <div class="index-card">
            <div class="index-logo"><h1 class="logo" style="color: white;">Welcome</h1></div>
            <div class="index-button-array">
                <a href="/login" class="login"><button class="index-login">Log In</button></a>
                <a href="/signup" class="signup"><button class="index-signup">Sign Up</button></a>
            </div>
        </div>
        <%- include("../partials/footer.ejs")  %>
    </div>
</body>
<%- include("../partials/noload.ejs")  %>
</html>